/*variables a utilizar*/

:root {
  --color-primary-100: #66aad3;
  --color-primary-200: #1a80bc;
  --color-primary-300: #0072b5;
  --color-primary-400: #0067a3;
  --color-primary-500: #00446d;

  --green-100: #9ee7d0;
  --green-200: #33b48d;
  --green-300: #00a170;
  --green-400: #009165;
  --green-500: #00714e;

  --yellow-100: #ffddb8;
  --yellow-200: #fdb464;
  --yellow-300: #fdac53;
  --yellow-400: #ca8a42;
  --yellow-500: #b1783a;

  --red-100: #ffaaa2;
  --red-200: #e05447;
  --red-300: #dd4132;
  --red-400: #c73b2d;
  --red-500: #9b2e23;

  --grey-100: #fcfcfc;
  --grey-200: #c8cdd0;
  --grey-300: #a0a7ac;
  --grey-400: #2a3b47;
  --grey-500: #1a252d;

  --font-title: "Roboto", sans-serif;
  --font-normal: "Lato", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  margin-top: 85px;
  font-family: var(--font-normal);
  color: var(--grey-400);
  font-size: 16px;
}
@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

section[id] {
  scroll-margin-top: 4rem;
}
@media (max-width: 700px) {
  section[id] {
    scroll-margin-top: 0;
  }
}

/* ---- utilidades----- */
.container {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.font-title {
  font-family: var(--font-title);
  font-weight: 700;
}
.title {
  font-size: 2rem;
  color: var(--grey-400);
}
.text-center {
  text-align: center;
}
.btn {
  border-color: transparent;
  outline: none;
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.btn--yellow {
  color: var(--yellow-500);
  background-color: var(--yellow-100);
  border:1px solid var(--yellow-300);
}
.btn--white {
  color: var(--color-primary-300);
  background: var(--grey-100);
  box-shadow: 0 2px 5px var(--color-primary-100);
}
.text-white-100 {
  color: var(--grey-100);
}
.text-white-200 {
  color: var(--grey-200);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 270px;
  gap: 30px 20px;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.8rem;
  }
}

/* ---- header ---- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem 0;
  background-color: var(--color-primary-400);
}
.logo {
  width: 60px;
}
.container-menu {
  gap: 20px;
}
.menu__enlace {
  font-size: 1rem;
  color: var(--grey-100);
}

@media (max-width: 540px) {
  .logo {
    width: 40px;
  }
  body {
    margin: 0;
  }
  .header {
    position: static;
  }
  .container-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem 0.5rem;
    z-index: 10;
    background: var(--grey-100);
    box-shadow: 0 -1px 2px var(--grey-300);
  }

  .menu__enlace {
    color: var(--grey-400);
    font-size: 13.5px;
  }
}
/* ----- banner -----*/

.banner {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background: var(--color-primary-400);
  min-height: 500px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
@media (max-width: 800px) {
  .container-banner {
    flex-direction: column-reverse;
  }
}
.container-banner {
  min-height: 500px;
}
.banner__frases {
  margin: 0;
  height: 120px;
  margin-bottom: 2rem;
}
.banner__title {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: var(--yellow-200);
}
.banner__copy,
.frases-autor {
  font-size: 1.1rem;
}
.banner-content {
  width: 40%;
}
.banner-image {
  width: 50%;
}
@media (max-width: 800px) {
  .container-banner {
    flex-direction: column-reverse;
  }
  .banner-content,
  .banner-image {
    width: 100%;
    margin-bottom: 2rem;
  }
  .banner-image {
    width: 80%;
  }
  .frases-autor {
    text-align: right;
  }
  .btn-banner {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  .banner__title {
    text-align: center;
  }
}
/* ---- Quienes somos -----*/

.quienesSomos .grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3rem;
  min-height: 90vh;
  align-content: center;
}
@media (max-width: 750px) {
  .quienesSomos{
    padding-top:2rem;
  }
  .quienesSomos .grid {
    grid-template-columns: 1fr;
  }
}
/*----por que adoptar -----*/

.porqueAdoptar {
  padding: 3rem 0;
}
.container-porqueAdoptar {
  background: var(--color-primary-300);
  background-image: url("../imagenes/huellas.svg"),
    url("../imagenes/huellas.svg");
  background-size: 70px, 70px;
  background-position: 90% 40px, 10% 40px;
  background-repeat: no-repeat;

  padding: 4rem 0;
  color: white;
  font-size: inherit;
}

/* ---- Adopcion ---- */

.adopcion {
  padding: 2rem 0;
  margin-bottom: 4rem;

}
.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;

}
.card--hidden{
  opacity: 0;
  order: 1;
  transition: opacity .1s ease-in-out;
}
.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card__label {
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--green-100);
  color: var(--green-500);
  padding: 0.5rem 1rem;
}
.card__label--adoptado {
  background: var(--red-100);
  color: var(--red-500);
}

.detalle {
  position: absolute;
  background: var(--grey-400);
  border: 1px solid var(--grey-500);
  color: var(--grey-200);
  width: 100%;
  margin: 0;
  padding: 1rem;
  top: 300px;
  transition: 0.3s linear;
}
.card:hover .detalle {
  top: 216px;
}
.optionFilter {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: .4rem;
}
.filter-item {
  outline: none;
  cursor: pointer;
  padding: .15rem 1rem;
  text-decoration: none;
  border-radius: 4px;
}
.filter-item--active{
  background-color: var(--grey-200);
  color:var(--grey-400);
  border-color: var(--grey-400);
}

/*--------contactanos--------*/
.contactanos{
  margin-bottom: 4rem;
  position: relative;
}
.contactanos .container{
  min-height: 60vh;
  display:grid;
  place-items: center;
}
.form{
  width: 90%;
  max-width: 450px;
  padding: 3rem;
  box-shadow: 0 2px 5px var(--grey-200);
}
.input-group{
  margin-bottom: 2rem;
}
.input-group label{
  display: block;
  margin-bottom: 1rem;
  color:var(--grey-400)
}
.form-input{
  padding: .5rem 1rem;
}
input, textarea{
  display: block;
  width: 100%;
  border:2px solid var(--grey-300);
  outline: none;
}
textarea{
  resize: none;
  padding:1rem;
}
.btn-form{
  width: 100%;
  color: var(--grey-100);
  background-color: var(--color-primary-300);
  border: 1px solid var(--color-primary-500);
  padding: .5rem;
}

.footer{
  background-color: var(--grey-500);
  color: var(--grey-100);
  text-align: center;
  padding :2rem;
}

.mensaje{
  position: absolute;
  top: 45px;
  width: 90%;
  padding: .5rem;
  max-width: 450px;
  border-radius: 4px;
  background-color: var(--color-primary-100);
  font-size: 1rem;
  color: var(--color-primary-500);
  border: 1px solid var (var(--color-primary-300));
  opacity: 0;
  
}
.alert--ative{
  opacity: 1;
}
.error{
  background: var(--red-100);
  color: var(--red-500);
  border:1px solid var(--red-300)
}

.warning{
  background: var(--yellow-100);
  color: var(--yellow-500);
  border:1px solid var(--yellow-300)
}

.success{
  background: var(--green-100);
  color: var(--green-500);
  border:1px solid var(--green-300)
}